/* .user-heart-icon, .user-comment-icon {
  font-size: 2rem;
}

.user-heart-icon {
  margin-right: 1rem;
  margin-bottom: 1rem;
} */

/* .user-heart-icon.false {
  color: black;
}

.user-heart-icon.true {
  color: red;
} */

/* .user-heart-icon.false:hover {
  color: red;
} */


/* .user-comment-icon:hover {
  color: blue;
} */

/* .user-likes {
  margin-bottom: 1rem;
  font-weight: bold
} */